{% extends 'header.html' %}

    <title>{% block title %} | انظم الى Epic Coders{% endblock %}</title>

{% block content %}
    
    <form action="", method="POST">
        {{ form.hidden_tag() }}
        {{ form.username.label() }}
        {{ form.username() }}
        {{ form.password.label() }}
        {{ form.password() }}
        {{ form.confirm_password.label() }}
        {{ form.confirm_password }}
        {{ form.submit_button.label() }}
        {{ form.submit_button() }}
    </form>

{% endblock %}